<div class="nft-card-block">
  <img
    class="nft-card-block__image"
    src="../../assets/images/Space.jpg"
    alt="space"
  />
  <div class="nft-card-block__description-container">
    <h5
      class="nft-card-block__description-container__title"
    >
      Life On Edena
    </h5>
    <div
      class="nft-card-block__description-container__author-info"
    >
      <img
        class="nft-card-block__description-container__author-info__avatar"
        src="../../assets/images/Avatar Placeholder.jpg"
        alt="avatar"
      />
      <span
        class="nft-card-block__description-container__author-info__name"
        >NebulaKid</span
      >
    </div>
    <div
      class="nft-card-block__description-container__additional-info"
    >
      <div
        class="nft-card-block__description-container__additional-info__price"
      >
        <span
          class="nft-card-block__description-container__additional-info__price__title"
          >Price</span
        >
        <span
          class="nft-card-block__description-container__additional-info__price__value"
          >1.63 ETH</span
        >
      </div>
      <div
        class="nft-card-block__description-container__additional-info__highest-bid"
      >
        <span
          class="nft-card-block__description-container__additional-info__highest-bid__title"
          >Highest Bid</span
        >
        <span
          class="nft-card-block__description-container__additional-info__highest-bid__value"
          >0.33 wETH</span
        >
      </div>
    </div>
  </div>
</div>