<header class="header">
  <div class="header__container">
    <a class="header__container__logo" href="../../pages/home_page/index.html">
      <img src="../../assets/icons/Storefront.svg" alt="logotype" />
      <h3 class="header__container__logo__text">NFT Marketplace</h3>
    </a>
    <nav class="header__container__navigation">
      <ul class="header__container__navigation__list">
        <li>
          <a href="../../pages/marketplace/index.html">
            <button class="header__container__navigation__list__button">
              Marketplace
            </button>
          </a>
        </li>
        <li>
          <a href="../../pages/rankings/index.html">
            <button class="header__container__navigation__list__button">
              Rankings
            </button>
          </a>
        </li>
        <li>
          <button class="header__container__navigation__list__button">
            Connect a wallet
          </button>
        </li>
        <li>
          <img class="header__container__navigation__list__image" src="../../assets/icons/DarkMode.svg" alt="darkMode">
        </li>
        <li>
          <button
            class="header__container__navigation__list__button filled-button"
          >
            <img class="auth-button__icon" src="../../assets/icons/User.svg" />
            Sign up
          </button>
        </li>
      </ul>
    </nav>
  </div>
</header>
