<footer class="footer">
  <div class="footer__inner-container">
    <div class="footer__info-container">
      <div class="footer__info-container__marketplace-info-block-title">
        <img src="../../assets/icons/Storefront.svg" alt="icon" />
        <h5>NFT Marketplace</h5>
      </div>
      <div class="footer__info-container__explore-block-title">
        <h5>Explore</h5>
      </div>
      <div class="footer__info-container__subscribe-block-title">
        <h5>Join our weekly digest</h5>
      </div>
      <div class="footer__info-container__marketplace-info-block">
        <p>NFT marketplace UI created with Anima for Figma.</p>
        <p>Join our community</p>
        <div class="footer__info-container__marketplace-info-block__images">
          <img src="../../assets/icons/DiscordLogo.svg" alt="discord-logo" />
          <img src="../../assets/icons/DiscordLogo.svg" alt="discord-logo" />
          <img src="../../assets/icons/DiscordLogo.svg" alt="discord-logo" />
          <img src="../../assets/icons/DiscordLogo.svg" alt="discord-logo" />
        </div>
      </div>
      <div class="footer__info-container__explore-block">
        <p>Marketplace</p>
        <p>Rankings</p>
        <p>Connect a wallet</p>
      </div>
      <div class="footer__info-container__subscribe-block">
        <p>Get exclusive promotions & updates straight to your inbox.</p>
      </div>
    </div>
    <div class="footer__copyright-container">
      <span>Ⓒ NFT Market. Use this template freely.</span>
    </div>
  </div>
</footer>